# ~/.gitconfig
[user]
  name = pynosh
  email = pynosh@noreply.codeberg.org

[core]
  editor = micro
  autocrlf = input
  excludesfile = ~/.gitignore_global

[init]
  defaultBranch = main

[pull]
  rebase = true

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[alias]
  lg = log --oneline --graph --decorate --all
  undo = reset HEAD~1 --mixed

[include]
  path = ~/.gitconfig.local
